* {
	font-family: 'Titillium Web', sans-serif;
}

.wrapper {
	width: 1300px;
	max-width: 90%;
	margin: 0 auto;
}


/* HEADER STYLES */

header div.menu-button {
	display: none;
}

header {
	width: 100%;
	height: 60px;
	padding: 2rem 0;
}

header h1.text {
	font-size: 3rem;
	font-weight: 700;
	color: #ffffff;
	float: left;
	margin: 0;
	font-family: 'Smooch', sans-serif;
}

header nav {
	float: right;
	margin: 0;
}

header nav a {
	text-decoration: none;
	color: #ffffff;
	font-weight: 700;
	margin-left: 2rem;
}


/* HEADER STYLES */

#Header {
	background-image: linear-gradient(to bottom right, red, yellow);
	background-repeat: no-repeat;
	background-size: cover;
}

#Header .content {
	padding: 4rem 0 12rem 0;
}

#Header .content h1.title,
#Header .content h2.sub_title {
	color: #ffffff;
	text-align: center;
}

#Header .content .title {
	font-size: 3.5rem;
	margin: 0;
}

#Header .content .sub_title {
	font-weight: 400;
	font-size: 1rem;
	width: 500px;
	line-height: 1.75;
	margin: 0 auto 2rem auto;
}

.button {
	border: none;
	outline: none;
	border-radius: 2rem;
	padding: .6rem 3.5rem;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	text-align: center;
}

.button_contact {
	background: #fa932d;
	border-radius: 2rem;
	padding: .6rem 3rem;
	color: #fff;
	text-align: center;
}

.sm-button {
	padding: .3rem 1.2rem;
}

#Header .content .button_wrapper {
	text-align: center;
}

#Header .content .button_wrapper .button {
	margin: 0 .75rem;
}

.button_highlight {
	background: #fc9b0c;
}

.button_learnmore {
	background: #ffb53e;
}


/* FEATURES STYLES */

#features {
	background: #f2f1f8;
	padding: 14rem 0 6.5rem 0;
	position: relative;
}

#features ul {
	float: left;
	background: #fff;
	width: 26%;
	margin: -17rem 1% 0 1%;
	padding: 3rem 2.5%;
	text-align: center;
	position: relative;
	-webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
	-moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
	box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
	border-radius: .35rem;
}

#features ul li {
	list-style: none;
}

#features .service_title {
	font-size: 1.5rem;
	color: #3f3d4e;
}

#features .design::after {
	content: " ";
	position: absolute;
	left: 50%;
	bottom: -100px;
	height: 100px;
	border-left: 2px solid #e2e0ee;
}

#features .feature1::after {
	content: " ";
	position: absolute;
	left: 50%;
	bottom: -50px;
	height: 50px;
	border-left: 2px solid #e2e0ee;
}

#features .feature2::after {
	content: " ";
	position: absolute;
	left: 50%;
	bottom: -50px;
	height: 50px;
	border-left: 2px solid #e2e0ee;
}

#features::before {
	content: " ";
	position: absolute;
	left: 50%;
	bottom: 48px;
	width: 58.8%;
	border-top: 2px solid #e2e0ee;
	margin-left: -29.8%;
}


/* CONTACT */

#contact {
	background: #f2f1f8;
	text-align: center;
	padding: 6rem 0 8rem 0;
}

#contact h1.title {
	font-size: 2.5rem;
	margin: 0;
	text-align: center;
	color: #3f3d4e;
}

#contact .sub_title {
	text-align: center;
	color: #b9b7c6;
	font-size: 1.5rem;
	margin: 0 auto 4rem auto;
	width: 600px;
}

#contact a.button {
	font-size: 1.35rem;
	padding: 1rem 5rem;
}


/* FOOTER STYLES */

footer p {
	text-align: center;
	font-size: 1.1rem;
	font-weight: 700;
	color: #b9b7c6;
}

footer a {
	text-decoration: none;
	color: #ec992d;
}